body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autocomplete ul {
  list-style: none;
  padding-left: 0;
  margin-top: -0.6rem;
  cursor: pointer;
  color: white;
}

.autocomplete li {
  width: 100%;
  background: #333;
  padding: 0.8rem;
}

.autocomplete li:hover {
  background: grey;
  color: white;
}
